<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
	<add name="DBConnection" connectionString="data source=(localdb)\MSSQLLocalDB;AttachDbFilename=C:\Users\пр\Desktop\лабы\Архитектура ИС\AIS_LAB2\Server\DataBase\Database.mdf;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Path" value="cars.csv" />
    <add key="LocalPortRead" value="3000" />
    <add key="LocalPortWrite" value="3001" />
    <add key="LocalPortDelete" value="3002" />
	<add key="LocalPortSendBodyTypes" value="3003" />
	<add key="LocalPortSendCarTypes" value="3004" />
    <add key="RemotePort" value="2000" />
    <add key="LocalAddress" value="127.0.0.1" />
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
